extends layout

block content
  form
    label(for="#originalUrl") Original URL
    input#originalUrl(type="text") 
    button(type="submit") Generate Short URL
  p The shortened URL is 
    span#currentUrl
    |#{shortUrl}

  script.
    const currentUrlSpan = document.querySelector('#currentUrl');
    currentUrlSpan.innerHTML = window.location.href;