extends layout

block content
  form(method='POST')
    label(for="#originalUrl") Original URL
    input#originalUrl(type="text" name='originalUrl') 
    button(type="submit") Generate Short URL
  if shortUrl != null
    p The shortened URL is 
      span#currentUrl
      |#{shortUrl}

  script.
    const currentUrlSpan = document.querySelector('#currentUrl');
    if (currentUrlSpan != null) currentUrlSpan.innerHTML = window.location.href;